## Test for Aginic

### Steps
1. Generator data for Freshdesk
2. Store data into SQLite
3. SQL Script to generate attributes (Specifically says SQL so no Python assumed).
    - Time spent Open - So the current time minus the ticket open time; if it has been closed, final ticket time minus original time (Excluding this for speed). 
    - Time spent Waiting on Customer - Ticket of waiting on customers current time minus ticket open time.
    - Time spent waiting for response (Pending Status) - 
    - Time till resolution - time to solved.
    - Time to first response (First time to first ticket time).
4. Programs must be able to be run in a bash script or equivilent.

In [1]:
!pip install faker

Requirement already satisfied: faker in /home/holborn/snap/jupyter/common/lib/python3.7/site-packages (4.1.0)
Requirement already satisfied: text-unidecode==1.3 in /home/holborn/snap/jupyter/common/lib/python3.7/site-packages (from faker) (1.3)
Requirement already satisfied: python-dateutil>=2.4 in /snap/jupyter/6/lib/python3.7/site-packages (from faker) (2.8.0)
Requirement already satisfied: six>=1.5 in /snap/jupyter/6/lib/python3.7/site-packages (from python-dateutil>=2.4->faker) (1.12.0)

### Libraries Required

In [11]:
from datetime import datetime, timedelta
from faker import Faker
import pandas as pd
from random import randrange
import json
import sqlite3

### Ticket Generator Function

In [138]:
def ticket_gen(n):
        
        """ This creates a random set of tickets."""  
        
        #This is the different words we'll be using for various generated data sets
        faker = Faker()
        df = []
        meta = {}
        activ = {}
        key = []
        users = ['user', 'admin', 'customer']
        activities = ['note', 'admin', 'customer']
        category = ['Phone', 'computer', 'jackets']
        product = ['mobile', 'tigimon', 'tamigotcha']
        status = ['open', 'closed', 'resolved','waiting for customer', 'waiting for third party', "pending"]
        descr_act = []
        activity = []
        meta_data = []
        for n in range(n):
        
        
            #key.append(n)
            #this creates the intial metadata
            
            #Time is set from the time_origin, which is when the first ticket is made,
            #and then added onto at random intervals 
            
            time_origin = faker.date_time_this_century()
    
            activities = randrange(10)
            work_type  = randrange(1,4)
           
            
            desc_act_mwap ={'key':n,
                         'performed_at': faker.date_time_this_century(),
                         'ticket_id': randrange(80,1000),
                         'performer_type': faker.words(1, users, True),
                         'performer_id': randrange(80,10000) }
            descr_act.append(desc_act_mwap)


            activity_next = time_origin
            for x in range(activities):
                #depending on the total activities, this creates what information is in those activities
                activity_next = activity_next + timedelta(days=randrange(10))

                if work_type == 1:
                    #if the ticket type is note, as per example

                    act_data_note =  {'key':n,'performed_at': activity_next,
                             'id': randrange(80,1000),
                             'category': faker.words(1, category, True),
                             'type': randrange(20)}
                    activity.append(act_data_note)

                    x+=1
                    activity_next = activity_next + timedelta(days=randrange(3))

                else:
                                        #if the ticket type is shipping, as per example

                    act_data_shipping =  {
                        'key':n,
                        'performed_at': time_origin,
                        'shipping_address': faker.address(),
                        'shipping_date': activity_next,
                        'category': faker.words(1, users, True),
                        'priority': randrange(5),
                        'status': faker.words(1, status, True),
                        'contacted_customer': faker.pybool(),
                        'source': randrange(5),
                        'agent_id': randrange(2000),
                        'requester': randrange(2000),
                        'category': faker.words(1, product, False)}
                    activity.append(act_data_shipping)
                    activity_next = activity_next + timedelta(days=randrange(3))



                    x+=1
                    
            meta_data_make = {'key':n,'start_at': time_origin, 'end_at': activity_next,
                                   'activities_count': randrange(100) }
            meta_data.append(meta_data_make)
                    
            #when this loop has finished, we append the generated data to the dataframe.
           # df.append({'metadata': {'key':{n},'start_at': {time_origin}, 'end_at': {activity_next},
                  #                 'activities_count': {randrange(100)} },
              #        'activities_data':[descr_act,activity]})
        act_df = pd.DataFrame(activity)#.set_index(['key'])
        desc_df = pd.DataFrame(descr_act)#.set_index(['key'])
        meta_df = pd.DataFrame(meta_data)#.set_index(['key'])
        return act_df,desc_df,meta_df

##### Example of Output.

In [139]:
act_df,desc_df,meta_df  = ticket_gen(1000)
act_df

,key,performed_at,shipping_address,shipping_date,category,priority,status,contacted_customer,source,agent_id,requester,id,type
0,0,2008-06-05 22:27:17,"1034 Traci Row Apt. 414\nStewartshire, NJ 37898",2008-06-14 22:27:17,[tamigotcha],2.0,[waiting for customer],True,0.0,77.0,527.0,NaN,NaN
1,0,2008-06-05 22:27:17,"PSC 8877, Box 9648\nAPO AA 52615",2008-06-16 22:27:17,[tigimon],2.0,[waiting for third party],False,0.0,589.0,1859.0,NaN,NaN
2,0,2008-06-05 22:27:17,"028 Patrick Rapids Suite 896\nGonzalesborough,...",2008-06-16 22:27:17,[tamigotcha],4.0,[waiting for third party],True,2.0,1798.0,805.0,NaN,NaN
3,1,2015-03-22 03:54:09,"82092 Johns Hill Suite 551\nJoneshaven, CT 28423",2015-03-29 03:54:09,[tigimon],0.0,[closed],True,2.0,234.0,706.0,NaN,NaN
4,1,2015-03-22 03:54:09,"06020 Hudson Mission\nPort Shannon, VA 78107",2015-04-05 03:54:09,[tigimon],3.0,[waiting for customer],True,1.0,1743.0,343.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4470,999,2002-09-01 16:05:06,"57001 Harrell Fort Apt. 811\nSchneiderview, PA...",2002-09-21 16:05:06,[tamigotcha],0.0,[closed],True,3.0,668.0,1142.0,NaN,NaN
4471,999,2002-09-01 16:05:06,"9956 Alexander Avenue Suite 327\nAshleytown, M...",2002-09-30 16:05:06,[tigimon],1.0,[waiting for customer],False,2.0,1936.0,1693.0,NaN,NaN
4472,999,2002-09-01 16:05:06,"021 Charles Stream Apt. 927\nEast Danielview, ...",2002-10-11 16:05:06,[mobile],3.0,[waiting for third party],False,2.0,1283.0,928.0,NaN,NaN
4473,999,2002-09-01 16:05:06,"7788 Donna Prairie Suite 035\nSouth Monique, D...",2002-10-19 16:05:06,[mobile],2.0,[waiting for customer],True,0.0,1443.0,74.0,NaN,NaN
4474,999,2002-09-01 16:05:06,"445 Kristy Ramp\nPort Amandabury, MS 49645",2002-10-29 16:05:06,[tamigotcha],1.0,[resolved],True,3.0,1492.0,1325.0,NaN,NaN

In [140]:
desc_df

     key        performed_at  ticket_id performer_type  performer_id
0      0 2007-05-12 06:16:09        963        [admin]          2869
1      1 2006-04-01 01:39:07        667        [admin]          3097
2      2 2017-10-03 17:45:17        346     [customer]          5804
3      3 2008-12-02 03:58:29        449        [admin]          9089
4      4 2001-01-28 20:46:12        630        [admin]          5208
..   ...                 ...        ...            ...           ...
995  995 2020-02-28 01:37:28        245        [admin]          1318
996  996 2014-05-28 21:44:15        893     [customer]          3377
997  997 2010-08-18 12:28:35        529         [user]          8621
998  998 2014-11-28 15:42:21        669     [customer]          9940
999  999 2010-01-15 11:19:53        556     [customer]          8343

[1000 rows x 5 columns]

### Save Generated Data to Json

In [141]:
#timestr = time.strftime("%Y%m%d-%H%M%S") This would be how I would make the files historical.

#combined_df.to_json('generated_data.json', orient='records', lines=True)
meta_df.to_json('metadata.json', orient='records', lines=True)
act_df.to_json('activities_data.json', orient='records', lines=True)
desc_df.to_json('description_data.json', orient='records', lines=True)

In [142]:
meta_df

     key            start_at              end_at  activities_count
0      0 2008-06-05 22:27:17 2008-06-16 22:27:17                79
1      1 2015-03-22 03:54:09 2015-04-17 03:54:09                52
2      2 2012-03-30 01:55:47 2012-03-30 01:55:47                32
3      3 2006-05-06 14:14:39 2006-05-14 14:14:39                72
4      4 2004-06-20 19:19:35 2004-08-12 19:19:35                 9
..   ...                 ...                 ...               ...
995  995 2002-07-15 14:17:28 2002-08-02 14:17:28                22
996  996 2012-05-27 17:56:34 2012-06-05 17:56:34                59
997  997 2015-01-04 01:24:55 2015-03-22 01:24:55                99
998  998 2012-10-04 11:41:08 2012-10-16 11:41:08                31
999  999 2002-09-01 16:05:06 2002-10-30 16:05:06                67

[1000 rows x 4 columns]

### Take JSON and move it to SQLite

1. Read Json
2. Take Json and convert into format easily insertable to SQLite.
3. Create SQL Queries and Insert data to Database.

In [143]:
db=sqlite3.connect('FreshCodes.sqlite3')
tablename = ["metadata","activities_data","description_data"]
table_length = len(tablename)

n = 0
for n in range(table_length):
    
    json_data = []
    for line in open(tablename[n]+'.json', 'r', encoding='utf-8-sig'):
        json_data.append(json.loads(line))



    #Aim of this block is to get the list of the columns in the JSON file.
    columns = []
    column = []
    print(columns)
    for data in json_data:
        column = list(data.keys())
        for col in column:
            if col not in columns:
                columns.append(col)

    #Here we get values of the columns in the JSON file in the right order.   
    value = []
    values = [] 
    for data in json_data:
        for i in columns:
            value.append(str(dict(data).get(i)))   
        values.append(list(value)) 
        value.clear()

    if n == 0:

       #Time to generate the create and insert queries and apply it to the sqlite3 database       
        create_query = "create table if not exists metadata ({0})".format(" text,".join(columns))
        insert_query = "insert into metadata ({0}) values (?{1})".format(",".join(columns), ",?" * (len(columns)-1))    
        print("insert has started at " + str(datetime.now()))  
        c = db.cursor()   
        c.execute(create_query)
        c.executemany(insert_query , values)
        values.clear()
        db.commit()
        c.close()
        print("insert has completed at " + str(datetime.now())) 
    elif n ==1 :
        #Time to generate the create and insert queries and apply it to the sqlite3 database       
        create_query = "create table if not exists activities_data ({0})".format(" text,".join(columns))
        insert_query = "insert into activities_data ({0}) values (?{1})".format(",".join(columns), ",?" * (len(columns)-1))    
        print("insert has started at " + str(datetime.now()))  
        c = db.cursor()   
        c.execute(create_query)
        c.executemany(insert_query , values)
        values.clear()
        db.commit()
        c.close()
        print("insert has completed at " + str(datetime.now())) 
    else:
        #Time to generate the create and insert queries and apply it to the sqlite3 database       
        create_query = "create table if not exists description_data ({0})".format(" text,".join(columns))
        insert_query = "insert into description_data ({0}) values (?{1})".format(",".join(columns), ",?" * (len(columns)-1))    
        print("insert has started at " + str(datetime.now()))  
        c = db.cursor()   
        c.execute(create_query)
        c.executemany(insert_query , values)
        values.clear()
        db.commit()
        c.close()
        print("insert has completed at " + str(datetime.now())) 
    
    n+=1

[]
insert has started at 2020-06-09 18:03:15.672795
insert has completed at 2020-06-09 18:03:15.689319
[]
insert has started at 2020-06-09 18:03:15.816119
insert has completed at 2020-06-09 18:03:15.841285
[]
insert has started at 2020-06-09 18:03:15.863515
insert has completed at 2020-06-09 18:03:15.876751

##### Open Data now inserted to ensure it is working properly.

In [144]:
# Create your connection.
cnx = sqlite3.connect('FreshCodes.sqlite3')
df = pd.read_sql_query("SELECT * FROM activities_data", cnx)

In [145]:
df.set_index(['key'])

,performed_at,shipping_address,shipping_date,category,priority,status,contacted_customer,source,agent_id,requester,id,type
key,,,,,,,,,,,,
0,1413710440000,576 Montgomery Rapids Apt. 124\nWest Stephanie...,1413710440000,['mobile'],1.0,['open'],False,2.0,214.0,60.0,None,None
0,1414142440000,"202 Perry Well\nMarkborough, OR 90064",1414142440000,['tamigotcha'],4.0,['waiting for customer'],False,4.0,408.0,1657.0,None,None
0,1414142440000,"PSC 5280, Box 5552\nAPO AE 63640",1414142440000,['tigimon'],3.0,['closed'],False,0.0,1364.0,631.0,None,None
0,1414228840000,"072 Michael Shoals Suite 691\nMariaborough, RI...",1414228840000,['mobile'],1.0,['resolved'],True,0.0,1772.0,248.0,None,None
0,1414920040000,Unit 4369 Box 6769\nDPO AE 05343,1414920040000,['tigimon'],0.0,['pending'],False,4.0,834.0,1859.0,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...
999,1030896306000,"57001 Harrell Fort Apt. 811\nSchneiderview, PA...",1032624306000,['tamigotcha'],0.0,['closed'],True,3.0,668.0,1142.0,None,None
999,1030896306000,"9956 Alexander Avenue Suite 327\nAshleytown, M...",1033401906000,['tigimon'],1.0,['waiting for customer'],False,2.0,1936.0,1693.0,None,None
999,1030896306000,"021 Charles Stream Apt. 927\nEast Danielview, ...",1034352306000,['mobile'],3.0,['waiting for third party'],False,2.0,1283.0,928.0,None,None
999,1030896306000,"7788 Donna Prairie Suite 035\nSouth Monique, D...",1035043506000,['mobile'],2.0,['waiting for customer'],True,0.0,1443.0,74.0,None,None
999,1030896306000,"445 Kristy Ramp\nPort Amandabury, MS 49645",1035907506000,['tamigotcha'],1.0,['resolved'],True,3.0,1492.0,1325.0,None,None